<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./home.css">
</head>
<body>
    
    <a href="/Enseignant/AddEns">Add Ensen</a>
    <main>
        <table > 
            <tr>
                <th>nom</th>
                <th>prenom</th>
                <th>pseudo</th>
            </tr>
        <% for(let i=0; i <objs.length;i++){ %> 
       
            <tr>
            <td ><%= objs[i].nom  %> </td>    
            <td ><%= objs[i].prenom  %></td>    
            <td ><%= objs[i].pseudo  %></td>    
        </tr>
        <% } %> 
    </table>
    </main>

</body>
</html>